* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ecfdf5;
  width: 550px;
  height: 550px;
  margin: 0 auto;
  padding: 110px 53px 27px;
  text-align: left;
}

header {
  margin-bottom: 51px;
}

h1 {
  font-family: "Karla";
  font-weight: 800;
  font-size: 40px;
  color: #273549;
  line-height: 40px;
  margin-bottom: 10px;
}

span {
  font-family: inter;
  font-weight: 800;
  font-size: 40px;
  color: #10b981;
  line-height: 20px;
}

p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: #6b7280;
}

button,
input {
  border-radius: 6px;
  border: none;
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
}
#generate-btn {
  margin-right: 17px;
}
#generate-btn,
#reset-btn {
  width: 211px;
  height: 42px;
  background-color: #10b981;
  color: #ffffff;
  line-height: 24px;
  padding: 9px, 17px, 9px, 15px;
  margin-bottom: 35px;
  cursor: pointer;
  transition: background-color, 0.3s;
}

#generate-btn:hover,
#reset-btn:hover {
  background-color: #059669;
}

#generate-btn i,
#reset-btn i {
  margin-right: 15px;
}

.borderline {
  width: 446px;
  border: 1px solid #d5d4d8;
  margin-bottom: 35px;
}

.passwords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.passwords input {
  width: 211px;
  height: 39px;
  background-color: #273549;
  margin-bottom: 27px;
  border: none;
  color: #5def92;
  text-align: center;
}

.passwords i {
  position: absolute;
  color: #3f516b;
}

.passwords .show:nth-of-type(1) {
  top: 10px;
  left: 100px;
}

.passwords .show:nth-of-type(2) {
  top: 10px;
  right: 100px;
}

.passwords .show:nth-of-type(3) {
  top: 75px;
  left: 100px;
}

.passwords .show:nth-of-type(4) {
  top: 75px;
  right: 100px;
}

.hidden {
  display: none;
}
